.box {
  width: 200px;
  height: 50px;
}

/* .box:hover {
  background: red;
} */

.element {
  width: 100px;
  height: 50px;
  background: pink;
  display: none;
}

.box:hover > .element {
  display: block;
}
