.container {
  background: #ff980070;
  display: flex;
  justify-content: space-between;
  padding: 8px;
}

.item-pages {
  display: flex;
  /* justify-content: space-around; */
  /* width: 200px; */
}

.item-logo {
  border: 1px solid black;
  background: #a4c79e;
  padding: 2px 8px;
}

.page {
  padding: 2px 8px;
  border: 1px solid black;
  background: blue;
}

.page:nth-child(2) {
  border-left: none;
  border-right: none;
  background: pink;
}

.page:nth-child(1) {
  background: red;
}
